<div class="container">
<div class="login-page">

 

 
    <div class="help">
      {{ page.help }}
    </div>
    <div class="highlighted">
        {{ page.highlighted }}
    </div>
    <div class="login">
          {{ page.content }}
    </div>
    <div class="row">
      <ul>
        <li><a href="{{url_root}}/user/login">Login Page</a></li>
        <li><a href="{{url_root}}/">Back to Home Page</a></li>
      </ul>

    </div>
   

</div>
</div>{# /.layout-container #}
