<div class="under-construction">
    <h1>Under-construction</h1>
  </div>
<div class="container-fluid">

<header role="banner">{{ page.header }}</header>


<div class="row">{{ page.primary_menu }}</div>
 

<div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="registration-terms">
       {{ page.sidebar_first }}
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="registration-form">
        {{ page.content }}
      </div>  
    </div>
</div>
   
<div class="row">
    <footer class="stick-to-bottom">
      {{ page.footer }}
    </footer>
</div>

</div>{# /.layout-container #}
